
<section >
<div class="w-full h-[100vh] min-h-[800px] min-w-[375px] p-4 bg-[#f5edee] flex justify-center items-center flex-col">
    <img src="https://firebasestorage.googleapis.com/v0/b/static-only-2ff95.appspot.com/o/angular%2FScreenshot_2024-01-09_at_15.40.03-removebg-preview.png?alt=media&token=d99842bc-91fb-47c3-b76c-6b23f666c828" alt="">
    <div class="text-[#052153] text-[72px] font-bold">Ooops!</div>
    <div class="text-[#69769b]">We can't seem to find a page your are looking for.</div>
    <div class="text-[#F28390] mt-[36px] flex just items-center gap-[4px] cursor-pointer" [routerLink]="['/']"><span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
          </svg>
    </span>Back to home</div>
</div>


</section>