<div class="w-full h-[80px] bg-[#7F265B] px-[20px] fixed z-10">
  <div class="flex h-full justify-between items-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/static-only-2ff95.appspot.com/o/angular%2FLogo.png?alt=media&token=84207ed1-a0d7-475a-b00c-be96192be864" class="w-[48px] h-[48px]" alt="">
  <div class="text-[white]">Sign Out</div>
  </div>
</div>
  <div class="w-[280px] h-[60px] bg-green-300 fixed right-0 top-[15%] z-20">
    <div class="w-[10px] bg-green-400 h-full"></div>
  </div>
<router-outlet></router-outlet>